<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">tatengue92</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Tp2015</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.pool_size">1</property>
  <mapping resource="capanegocios/Provincia.hbm.xml"/>
  <mapping resource="capanegocios/Localidad.hbm.xml"/>
  <mapping resource="capanegocios/Lugar.hbm.xml"/>
  <mapping resource="capanegocios/Usuario.hbm.xml"/>
  <mapping resource="capanegocios/TipoDocumento.hbm.xml"/>
  <mapping resource="capanegocios/SeRealizaEn.hbm.xml"/>
  <mapping resource="capanegocios/Deporte.hbm.xml"/>
  <mapping resource="capanegocios/Competencia.hbm.xml"/>
  <mapping resource="capanegocios/Estado.hbm.xml"/>
  <mapping resource="capanegocios/Modalidad.hbm.xml"/>
  <mapping resource="capanegocios/FormaPuntuacion.hbm.xml"/>
  <mapping resource="capanegocios/Participante.hbm.xml"/>
  <mapping resource="capanegocios/Ronda.hbm.xml"/>
  <mapping resource="capanegocios/Encuentro.hbm.xml"/>
  <mapping resource="capanegocios/Set.hbm.xml"/>
  <mapping resource="capanegocios/RegistroEncuentro.hbm.xml"/>
  <mapping resource="capanegocios/RegistroSet.hbm.xml"/>
  
 </session-factory>
</hibernate-configuration>
